<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link
      rel="shortcut icon"
      href="//img.ishanshan.com/gimg/img/05d0347f999929d07e1cc6eea2ae0253"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    />
    <title>闪闪云校</title>
    <!-- iconfont菜单及首页图标 -->
    <link
      rel="stylesheet"
      href="//at.alicdn.com/t/font_1014151_4u7acz9bk45.css"
    />
    <!-- 直播 -->
    <link
      rel="stylesheet"
      href="//at.alicdn.com/t/font_1637612_lxm6ztsywxa.css"
    />
  </head>

  <body>
    <script> !(function (c, b, d, a) { c[a] || (c[a] = {}); c[a].config = { userId: '',appKey: '<%= JK_KEY %>', imgUrl: 'http://120.26.166.109:9000/Up?',disableHook:true, disableJS:true,disableResource:true }; var dom = document.createElement("script"); dom.setAttribute("crossorigin", "anonymous"); dom.setAttribute("src", d); document.body.insertBefore(dom, document.body.firstChild); })(window, document, '<%= BASE_URL %>/webReport/bundl.js', "__ml"); </script>
    <script src="<%= BASE_URL %>/tinymce4.7.5/tinymce.min.js"></script>
<!--
     <script
      type="text/javascript"
      src="http://127.0.0.1:18000/CLodopfuncs.js"
    ></script>
-->
    <div id="app"></div>
    <!-- AXIOS SDK 白板SDK依赖axios（后续版本会去掉该依赖） -->
    <script src="https://resources-tiw.qcloudtrtc.com/thirdpart/axios/axios.min.js"></script>

    <!-- WebRTC SDK -->
    <script src="<%= BASE_URL %>/trtc.js"></script>

    <!-- WebIM SDK -->
    <script src="https://resources-tiw.qcloudtrtc.com/webim/webim.min.js"></script>

    <!-- COS SDK -->
    <script src="https://resources-tiw.qcloudtrtc.com/thirdpart/cos/5.1.0/cos.min.js"></script>

    <!-- 白板SDK -->
    <script src="https://resources-tiw.qcloudtrtc.com/board/2.4.0/TEduBoard.min.js"></script>

    <!-- TIC SDK -->
    <script src="https://resources-tiw.qcloudtrtc.com/tic/2.4.1/TIC.min.js"></script>

    <!-- built files will be auto injected -->
    <!--lodop打印的配置-->
    <object
      id="LODOP_OB"
      classid="clsid:2105C259-1E0C-4534-8141-A753534CB4CA"
      width="0"
      height="0"
    >
      <embed
        id="LODOP_EM"
        type="application/x-print-lodop"
        width="0"
        height="0"
      />
    </object>
  </body>
</html>
